<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
        Welcome to the URL Shortner
    </h1>
    <br>
    <h2>
        All the URLs are shortened here
    </h2>
    <br>
    <ol>
        <% urls.forEach(url => { %>
            <li>
                <%= url.shortUrl%>
            </li>
        <% }) %>
    </ol>
</body>
</html>